.container-search {
    width: 100%;
}

.movie-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 500px;
    width: 57vh;
}

.movie-detail-img {
    padding: 30px;
    border: 10px solid;
    border-radius: 5px;
    border-bottom: 0px;
    background: linear-gradient(to top right, black, #494949);
}

.movie-detail-title {
    padding: 10px;
    font-size: 70px;
    color: white;
    border: 10px solid black;
    border-top: 0px;
    border-bottom: 0px;
    width: 540px;
    justify-content: center;
    display: flex;
    background: linear-gradient(to bottom right, black, #494949);
}

.movie-detail-overview {
    font-size: 30px;
    padding: 5px;
    color: white;
    border: 10px solid black;
    width: 550px;
    justify-content: center;
    display: flex;
    text-align: center;
    background: linear-gradient(to top left, black, #494949);
    border-top: 0px;
}

.search-cast-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 90px;
    background: linear-gradient(to top left, black, #494949);
    border: 10px solid black;

}

.movie-detail-cast{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #494949;
    border-radius: 90px;
}

.search-cast-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.movie-cast-img {
    padding: 10px;
    margin: 10px;
    border: 1px solid;
    border-radius: 5px;
    background: linear-gradient(to top right, black, #494949);
    width: 300px;
    height: auto;
}

.movie-cast-name {
    color: white;
}

.know-more {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 30px;
    color: white;
    border: 5px solid black;
    width: 570px;
    background: #8031a7;
    cursor: pointer;
}

.know-more:hover {
    background: purple;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 60px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  .embed.hide {
    display: none;
  }

  .embed.show {
    display: inline-block;
  }

  .arrow {
    position: absolute;
  }

  .arrow.left-arrow {
    left:20%;
    top: 400px;
    width: 90px;
  }

  .arrow.right-arrow {
    right:20%;
    top: 400px;
    width: 90px;
  }

  .dots {
    margin-top: 30px;
  }

  .dots.dot {
    padding: 10px;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
  }

  .dots.dot.active {
    background-color: #8031a7;
  }