.container-search {
    width: 100%;
}

.movie-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 500px;
    width: 57vh;
}

.movie-detail-img {
    padding: 30px;
    border: 10px solid;
    border-radius: 5px;
    border-bottom: 0px;
    background: linear-gradient(to top right, black, #494949);
}

.movie-detail-title {
    padding: 10px;
    font-size: 70px;
    color: white;
    border: 10px solid black;
    border-top: 0px;
    border-bottom: 0px;
    width: 540px;
    justify-content: center;
    display: flex;
    background: linear-gradient(to bottom right, black, #494949);
}

.movie-detail-overview {
    font-size: 30px;
    padding: 5px;
    color: white;
    border: 10px solid black;
    width: 550px;
    justify-content: center;
    display: flex;
    text-align: center;
    background: linear-gradient(to top left, black, #494949);
    border-top: 0px;
}

.search-cast-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 90px;
    background: linear-gradient(to top left, black, #494949);
    border: 10px solid black;

}

.movie-detail-cast{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #494949;
    border-radius: 90px;
}

.search-cast-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.movie-cast-img {
    padding: 10px;
    margin: 10px;
    border: 1px solid;
    border-radius: 5px;
    background: linear-gradient(to top right, black, #494949);
    width: 300px;
    height: auto;
}

.movie-cast-name {
    color: white;
}

.know-more {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 30px;
    color: white;
    border: 5px solid black;
    width: 580px;
    background: #490257;
    cursor: pointer;
}

.know-more:hover {
    background: purple;
}