* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(15, 15, 15, 0.7)), url('../img/Space-background.jpg');
    background-size: cover;
    background-position: center;
    background-color: black;
    color: white;
    font-family: "Amazon Ember", "Oswald", Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 8%;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.links a {
    display: inline-block;
    padding: 12px 24px;
    background-color: purple;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    width: fit-content;
    transition: transform 0.5s ease-in-out;
}

.links a:hover {
    background-color: rgb(116, 2, 116);
    transform: scale(1.1);
}

.links a:active {
    background-color: rgb(116, 2, 116);
}
